{{ content.group_usr_preferred_color }}

{{ content.group_usr_pers_data.group_usr_profile_picture }}
{{ content.group_usr_pers_data.group_usr_name_surname_title }}
<div id="usr-jobs-contact-links">
    <div id="usr-con-job">
        {{ content.group_usr_dsp_box.group_held_posisions.field_usr_jobs }}
    </div>
    {{ content.group_usr_pers_data.group_usr_jobs_contact_links.group_usr_contact_data }}
    {{ content.group_usr_pers_data.group_usr_jobs_contact_linksfield_usr_pers_webpage_url }}
</div>

{{ content.group_usr_dsp_box }}